<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Eid Viagens - Feedbacks</title>
    <link rel="icon" href="../style/img/LogoEid-removebg-preview.png" type="image/png">
    <link rel="stylesheet" href="../style/css/estilo-sobre-depoimentos.css">
    <link rel="stylesheet" href="../style/css/botaoSecoes.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
<header>
    <div class="logo">
        <a href="../index.html" class="linkhome"><img src="../style/img/LogoEid.png" alt="Eid Viagens" class="logoimg">
            <p>Eid Tours</p></>
    </div>
    <div class="menu-pesquisa">
        <label><i class="bi bi-search"></i></label>
        <input class="barra-pesquisa" type="email" placeholder="Encontre sua viagem">
    </div>
    <nav class="menu">
        <ul>
            <li><a href="../templates/sobre-depoimentos.html">Feedbacks</a></li>
            <li><a href="../templates/contato.html">Contato</a></li>
            <li><a href="../templates/login.html">Login</a></li>
        </ul>
    </nav>
</header>


<section class="sobre-depoimentos">
    <h1>Sobre e Depoimentos</h1>
</section>


<section class="depoimentos">
    <div class="row  ">
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center g-5 tituloDepoimento">
            <div class="h1-card">
                <h1><span>Depoimentos</span></h1>
            </div>
            <div>
                <button class="animated-button">
                    <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                        ></path>
                    </svg>
                    <span class="text">Ver mais depoimentos</span>
                    <span class="circle"></span>
                    <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                        ></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center g-5">
            <div class="card ">
                <img src="/style/img/fotoPerfil3.png" class="card-img-top" alt="fotoPerfil3">
                <div class="card-body">
                    <h5 class="card-title">Jaine</h5>
                    <p class="card-text">Planejar minha viagem nunca foi tão fácil! O site oferece ótimas opções de
                        pacotes, preços acessíveis e um atendimento incrível. Recomendo!</p>
                    <hr>
                    <p class="card-text ppp">França.</p>
                    <p class="card-text tii">Avaliação: <i class="bi bi-star-fill"></i> <i
                            class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-half"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center g-5">
            <div class="card">
                <img src="/style/img/fotoPerfil1.png" class="card-img-top" alt="fotoPerfil1">
                <div class="card-body">
                    <h5 class="card-title">Flávio</h5>
                    <p class="card-text">Encontrei passagens e hospedagens com ótimos preços. A navegação é intuitiva e
                        segura, facilitando todo o processo de reserva. Excelente serviço!</p>
                    <hr>
                    <p class="card-text ppp">Canáda.</p>
                    <p class="card-text tii">Avaliação: <i class="bi bi-star-fill"></i> <i
                            class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center g-5">
            <div class="card">
                <img src="/style/img/fotoPerfil2.png" class="card-img-top" alt="fotoPerfil2">
                <div class="card-body">
                    <h5 class="card-title">Rafaela</h5>
                    <p class="card-text"> Minha experiência foi maravilhosa! Consegui organizar minha viagem dos sonhos
                        de
                        forma rápida e sem complicações. Voltarei a usar com certeza!</p>
                    <hr>
                    <p class="card-text ppp">Disney.</p>
                    <p class="card-text tii">Avaliação: <i class="bi bi-star-fill"></i> <i
                            class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-half"></i>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="sobre">
    <div class=" fundoSobre">
        <h1>Sobre Nós</h1>
        <div class=" sobreText">
            <p>A Eid Tour foi fundada por Ana Flávia Campos Eid, apaixonada por turismo e especializada em criar
                roteiros exclusivos para cada perfil de viajante. Desde o início, nosso objetivo é tornar viagens
                internacionais acessíveis e inesquecíveis.</p>
            <p>
                Oferecemos:
                Pacotes Personalizados: Criamos roteiros sob medida para cada cliente, levando em consideração suas
                preferências e necessidades.
                Consultoria Especializada: Nossa equipe auxilia na escolha dos melhores destinos, hospedagens e
                atividades.
                Parcerias Exclusivas: Trabalhamos com as melhores companhias aéreas, redes de hotéis e serviços locais
                para garantir experiências inesquecíveis.
                Suporte Completo: Atendimento antes, durante e depois da viagem para que nossos clientes viajem com
                tranquilidade.</p>
            <p>
                Viajar é mais do que conhecer novos lugares — é viver experiências, criar memórias e explorar o mundo
                com conforto e segurança. Na Eid Tours, temos o compromisso de oferecer as melhores opções de
                viagens internacionais, proporcionando aos nossos clientes experiências únicas e personalizadas.
            </p>
        </div>
    </div>
</section>


<footer>
    <h2>Inscreva-se para receber ofertas exclusivas</h2>
    <div class="cntt-footer">
        <div >
            <label>E-mail: </label>
            <input class="barra-pesquisa" type="email" placeholder="">
        </div>
        <div>
            <button>Quero recebe-las</button>
        </div>
    </div>
    <hr class="linha-footer">
    <div class="redes-logo">
        <div>
            <ul class="redes-sociais-footer">
                <li><i class="bi bi-instagram"></i></li>
                <li><i class="bi bi-facebook"></i></li>
                <li><i class="bi bi-youtube"></i></li>
                <li><i class="bi bi-tiktok"></i></li>
            </ul>
        </div>
        <div class="logoFooter">
            <img src="/style/img/LogoEid-removebg-preview.png" alt="">
        </div>
    </div>
    <hr class="linha-footer">
    <p>© 2025 Eid Tours - Todos os direitos reservados.</p>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">

</script>
</body>
</html>